@using Quantum.Core.Models
@using Quantum.Infrastructure.States
@using System.Globalization
@implements IDisposable
@inject WishListState WishListState

@if (WishListState.WishList.Count == 0)
{
    <p>您的愿望单是空的。</p>
}
else
{
    <CourseSectionTable Sections="WishListState.WishList" ShowActions="true" ShowCourseName="true" />
}

@code {
    protected override void OnInitialized()
    {
        WishListState.OnWishListStateChanged += StateHasChanged;
        base.OnInitialized();
    }

    public void Dispose()
    {
        WishListState.OnWishListStateChanged -= StateHasChanged;
    }
}
