@page "/example/1" 
@using TemplateModule
@inject ISampleService SampleService
@inject ExampleJsInterop ExampleJsInterop
@* 在这里定义页面路由 *@

<div class="my-component">
    This component is defined in the <strong>TemplateModule</strong> library.
    <p>@_message</p>
</div>

@code {
    private string _message = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        _message = await ExampleJsInterop.Prompt(SampleService.SayHello());
    }
}